trigger:
- main

pool:
  name: Default_2
  demands:
    - Agent.Name -equals ag001

variables:
  resourceGroupName: rg-iac-webapp
  location: centralus

  # Caminhos dos ARM templates
  templateFile: arm-templates/webapp-template.json
  parametersFile: arm-templates/webapp-parameters.json

stages:
- stage: DeployInfra
  displayName: 'Deploy Infra (ARM)'
  jobs:
  - job: ARM_Deployment
    displayName: 'ARM Deployment'
    steps:
    - checkout: self

    - task: AzureResourceManagerTemplateDeployment@3
      displayName: 'Deploy ARM - WebApp'
      inputs:
        deploymentScope: 'Resource Group'
        azureResourceManagerConnection: 'ar01com'
        action: 'Create Or Update Resource Group'
        resourceGroupName: '$(resourceGroupName)'
        location: '$(location)'
        templateLocation: 'Linked artifact'
        csmFile: '$(templateFile)'
        csmParametersFile: '$(parametersFile)'
        deploymentMode: 'Incremental'
