trigger:
- main

pool:
  name: Default_2
  demands:
    - Agent.Name -equals ag001

variables:
  resourceGroupName: rg-iac-webapp
  location: centralus
  templateFile: 'arm-templates/webapp-template.json'
  parametersFile: 'arm-templates/webapp-parameters.json'
  webAppName: 'lmliacpaas001-qvq7mwuoeku4k'

stages:
- stage: DeployInfrastructure
  displayName: 'Deploy Infra (ARM)'
  jobs:
  - job: ARM_Deployment
    displayName: 'ARM Deployment'
    steps:
    - checkout: self

    - task: AzureResourceManagerTemplateDeployment@3
      displayName: 'Deploy ARM - WebApp'
      inputs:
        deploymentScope: 'Resource Group'
        azureResourceManagerConnection: 'ar01com'
        action: 'Create Or Update Resource Group'
        resourceGroupName: '$(resourceGroupName)'
        location: '$(location)'
        templateLocation: 'Linked artifact'
        csmFile: '$(templateFile)'
        csmParametersFile: '$(parametersFile)'
        deploymentMode: 'Incremental'
        deploymentName: 'webapp-deployment'

- stage: DeployApp
  displayName: 'Deploy App (HTML)'
  dependsOn: DeployInfrastructure
  jobs:
  - job: Publish_HTML
    displayName: 'Publish HTML to WebApp'
    steps:
    - checkout: self

    - task: ArchiveFiles@2
      displayName: 'Zip site (src)'
      inputs:
        rootFolderOrFile: '$(System.DefaultWorkingDirectory)/src'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/site.zip'
        replaceExistingArchive: true

    - task: AzureCLI@2
      displayName: 'Deploy ZIP via Azure CLI (config-zip)'
      inputs:
        azureSubscription: 'ar01com'
        scriptType: 'ps'
        scriptLocation: 'inlineScript'
        inlineScript: |
          az --version
          az webapp deployment source config-zip `
            --resource-group "$(resourceGroupName)" `
            --name "$(webAppName)" `
            --src "$(Build.ArtifactStagingDirectory)\site.zip"
