trigger:
- main

pool:
  vmImage: 'windows-latest'

variables:
  azureSubscription: 'ar01com'          # <- nome da sua Service Connection no Azure DevOps
  resourceGroupName: 'rg-iac-webapp'
  location: 'centralus'
  siteName: 'lmliacpaas001_171225'      # <- tem que bater com o parameters.json (ou você pode remover do parameters e usar só aqui)
  templateFile: 'arm-templates/webapp-template.json'
  parametersFile: 'arm-templates/webapp-parameters.json'

stages:
- stage: DeployInfra
  displayName: 'Provisionar PaaS (App Service)'
  jobs:
  - job: Deploy
    displayName: 'Criar RG + Deploy ARM'
    steps:
    - checkout: self

    - task: AzureCLI@2
      displayName: 'Criar Resource Group (se não existir)'
      inputs:
        azureSubscription: '$(azureSubscription)'
        scriptType: 'ps'
        scriptLocation: 'inlineScript'
        inlineScript: |
          $rg = "$(resourceGroupName)"
          $loc = "$(location)"
          Write-Host "Verificando RG: $rg"

          az group exists --name $rg | Out-Host
          $exists = az group exists --name $rg

          if ($exists -eq "true") {
            Write-Host "RG já existe: $rg"
          } else {
            Write-Host "Criando RG: $rg em $loc"
            az group create --name $rg --location $loc
          }

    - task: AzureResourceManagerTemplateDeployment@3
      displayName: 'Deploy ARM (criar App Service)'
      inputs:
        deploymentScope: 'Resource Group'
        azureResourceManagerConnection: '$(azureSubscription)'
        action: 'Create Or Update Resource Group'
        resourceGroupName: '$(resourceGroupName)'
        location: '$(location)'
        templateLocation: 'Linked artifact'
        csmFile: '$(templateFile)'
        csmParametersFile: '$(parametersFile)'
        deploymentMode: 'Incremental'
        deploymentName: 'paas-webapp-deployment'

- stage: DeploySite
  displayName: 'Publicar site (index.html)'
  dependsOn: DeployInfra
  jobs:
  - job: Publish
    displayName: 'Zip + Deploy'
    steps:
    - checkout: self

    - task: ArchiveFiles@2
      displayName: 'Compactar pasta src/'
      inputs:
        rootFolderOrFile: 'src'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)\site.zip'
        replaceExistingArchive: true

    - task: AzureWebApp@1
      displayName: 'Publicar no Azure Web App'
      inputs:
        azureSubscription: '$(azureSubscription)'
        appType: 'webApp'
        appName: '$(siteName)'
        package: '$(Build.ArtifactStagingDirectory)\site.zip'
