trigger:
- main

pool:
  name: Default_2 # Nome do agent pool
  demands:
    - Agent.Name -equals ag001  # Força o uso do agente específico
  vmImage: 'windows-latest'

variables:
  resourceGroupName: rg-iac-webapp
  location: centralus
  templateFile: arm-templates/webapp-template.json
  parametersFile: arm-templates/webapp-parameters.json

stages:
- stage: DeployInfrastructure
  jobs:
  - job: ARM_Deployment
    steps:
    - task: AzureResourceManagerTemplateDeployment@3
      inputs:
        deploymentScope: 'Resource Group'
        azureResourceManagerConnection: 'ar01com'
        subscriptionId: '130e18eb-a3ff-4995-a7f8-14aec2c06c47'
        action: 'Create Or Update Resource Group'
        resourceGroupName: '$(resourceGroupName)'
        location: '$(location)'
        templateLocation: 'Linked artifact'
        csmFile: '$(templateFile)'
        csmParametersFile: '$(parametersFile)'
        deploymentMode: 'Incremental'

- stage: DeployApp
  dependsOn: DeployInfrastructure
  jobs:
  - job: Publish_HTML
    steps:
    - task: AzureWebApp@1
      inputs:
        azureSubscription: 'ar01com'
        appType: 'webApp'
        appName: 'lmliacpaas002'
        package: 'src'

        - script: |
    echo "##vso[task.setvariable variable=NODE_TLS_REJECT_UNAUTHORIZED]0"
  displayName: Ignore SSL validation
